<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <h1 class="heading">Academic Area</h1>
    <div class="imageTag">
        <img src="/images/academic_area.png"/>
    </div>
    <div class="env1 map-marker ATHLETICS opener" id="env1">
    </div>
    <div class="map-marker ADMINISTRATION " id="env1">
    </div>
    <div class="map-marker GYM " id="env1">
    </div>
    <div class="map-marker ACADEMIC " id="env1">
    </div>
    <div class="map-marker WORKSHOP_LAB " id="env1">
    </div>
    <div class="map-marker TENNIS_COURT " id="env1">
    </div>
    
</body>
</html>