<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <h1 class="heading">csed</h1>
    <div class="imageTag">
        <img src="/images/csed.png"/>
    </div>
    <div class="env1 map-marker SVBH opener" id="env1">
    </div>
    <div class="map-marker DEAN_OFFICE " id="env1">
    </div>
</body>
</html>