<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Three Js Template</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" id="closer">&times;</a>

      <!-- Overlay content -->
      <canvas class="web-gl"></canvas>
    </div>

    <h1 class="heading">MNNIT ALLAHABAD</h1>
    <div>
      <!-- <div class="image-container">
        <img src="/images/boys_hostels.png" />
        <img src="/images/girls_hostels.png" />
        <img src="/images/academic_area.png" alt="map" />
        <img src="/images/csed.png" alt="map" />
      </div> -->
      <div class="scrollmenu">
        <div class="item" id="home">
          <img src="/images/boys_hostels.png" alt="Home"/>
        </div>
        <div class="item" id="news">
          <img src="/images/girls_hostels.png" alt="News"/>
        </div>
        <div class="item" id="contact">
          <img src="/images/academic_area.png" alt="map" />
        </div>
        <div class="item" id="about">
          <img src="/images/csed.png" alt="map" />
        </div> 
        <!-- <div class="item" id="about">
          <img src="https://images.unsplash.com/photo-1581337204873-ef36aa186caa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1156&q=80" alt="About"/>
        </div>
        <div class="item" id="about">
          <img src="https://images.unsplash.com/photo-1581337204873-ef36aa186caa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1156&q=80" alt="About"/>
        </div>  -->
      </div>
      <div class="env1 map-marker usa opener" id="env1">
        <!-- <span>United states</span> -->
      </div>
      <div class="tooltip usa">USA</div>
      <!--Show location data on hover-->
      <div class="env2 map-marker france opener" id="env2">
        <!-- <span>France</span> -->
      </div>
      <div class="tooltip france">France</div>
      <div class="env3 map-marker sweden opener" id="env3">
        <!-- <span>Sweden</span> -->
      </div>
      <div class="tooltip sweden">Sweden</div>
      <div class="env4 map-marker south-africa opener" id="env4">
        <!-- <span>South Africa</span> -->
      </div>
      <div class="tooltip south-africa">South Africa</div>
      <div class="env5 map-marker brazil opener" id="env5">
        <!-- <span>Brazil</span> -->
      </div>
      <div class="tooltip brazil">Brazil</div>
    </div>

    <script type="importmap">
      {
        "imports": {
          "three": "./build/three.module.js",
          "three/examples/controls/OrbitControls": "./jsm/controls/OrbitControls.js"
        }
      }
    </script>
    <script type="module" src="./javascripts/client.js"></script>
  </body>
</html>
