<!DOCTYPE html>
<html>
<head>
    <title>Custom Clickable Markers with Mapbox GL JS</title>
    <!-- Mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />

    <!-- google javascript API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb0HSsnhb9LcoejUC7XxEx9m83F-T65EA&loading=async&callback=initializeMap" defer></script>

    <!-- Pannellum js and css-->
    <script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css">

    <link href='./stylesheets/style.css' rel='stylesheet'/>
</head>
<body>

    <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" id="closer">&times;</a>
      
        <!-- Overlay content -->
        <div class="overlay-content">
            <div id="panorama"></div>
        </div>
      </div>
      
    <div id='map'></div>
    
    <button id="dark-btn" class="map-btn">Dark View</button>
    <button id="outdoors-btn" class="map-btn">Outdoors View</button>
    <button id="satellite-streets-btn" class="map-btn">Satellite-Streets View</button>
    <script src="./javascripts/index.js"></script>
</body>
</html>
