<!DOCTYPE html>
<html>
<head>
    <title>Custom Clickable Markers with Mapbox GL JS</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb0HSsnhb9LcoejUC7XxEx9m83F-T65EA&loading=async&callback=initializeMap" defer></script>
    <link href='./stylesheets/style.css' rel='stylesheet'/>
</head>
<body>
    <div id='map'></div>
    <div id='street-view'></div>
    <button id="dark-btn" class="map-btn">Dark View</button>
    <button id="outdoors-btn" class="map-btn">Outdoors View</button>
    <button id="satellite-streets-btn" class="map-btn">Satellite-Streets View</button>
    <script src="./javascripts/index.js"></script>
</body>
</html>
